<section class="fondoHorario">
    <html>
    
    <ng-container *ngFor> </ng-container>
    <body>
        <div class="cuerpo">
        <div class="contenedor1">
            <div>
            <img class = "logo"
                      src= "assets/merkcentro.PNG"
                      >
            </div>
            
            <div >
            <h1 class="titPag1">Horarios Empleados</h1>
            </div>
        
        <table border="3" class="tablaDiario">
            
            <h2 >Diario</h2>
    
          
            <tr>
                <td>Week From</td> <td>8/11/21</td><td>To</td><td>14/11/21</td>
            </tr>
            <tr>
                <td>LUNES</td> <td>7:00 am</td> <td> 8:00 am</td> <td>9:00 am</td> <td>10:00 am</td> 
                 <td>11:00 am</td><td>12:00 am</td><td>13:00 am</td><td>14:00 am</td>
            </tr>
           
                <tr>
                    <td>Juan</td> <td>Surtidor</td> <td>Surtidor</td><td>Surtidor</td><td>Surtidor</td><td>0</td><td>0</td><td>0</td><td>0</td>
                </tr>
    
               
    
    
        </table>
    
    </div>
    </div>
    </body>
    
    </html>
    
    </section>