<section class="fondoHorario">
<html>


<body>
    <h1>Horarios</h1>
    <h2>Cajeros</h2>
    <table border class="tablaHorario">
        <tr>
            <td>Empleado</td> <td>Puesto<td> <button class=botonLunes>Lunes</button></td>
             <td><button class=botonMartes>Martes</button></td> <td><button class=botonMiercoles>Miercoles</button></td> 
             <td><button class=botonJueves>Jueves</button></td><td><button class=botonViernes>Viernes</button></td>
             <td><button class=botonSabado>Sabado</button></td><td><button class=botonDomingo>Domingo</button></td>
        </tr>
        <tr>
            <td>Juan</td> <td>Cajero</td> <td>Andres</td>
        </tr>



    </table>
</body>

</html>

</section>