<section class="fondoHorario">
<html>


<body>
    <div class="contenedor1">
        <div>
        <img class = "logo"
                  src= "assets/merkcentro.PNG"
                  >
        </div>
        
        <div >
        <h1 class="titPag1">Horarios Empleados</h1>
        </div>
    
    <table border class="tablaHorario">
        <div class="semanal">
        <h2 >Semana</h2>
        </div>
        <tr>
            <td>Empleado</td> <td>Puesto<td> <button class=botonLunes>Lunes</button></td>
             <td><button class=botonMartes>Martes</button></td> <td><button class=botonMiercoles>Miercoles</button></td> 
             <td><button class=botonJueves>Jueves</button></td><td><button class=botonViernes>Viernes</button></td>
             <td><button class=botonSabado>Sabado</button></td><td><button class=botonDomingo>Domingo</button></td>
        </tr>
        <tr>
            <td>Juan</td> <td>Cajero</td> <td>Andres</td>
        </tr>



    </table>

</div>
</body>

</html>

</section>