<section class="fondoHorario">
<html>

<ng-container *ngFor> </ng-container>
<body>
    <div class="contenedor1">
        <div>
        <img class = "logo"
                  src= "assets/merkcentro.PNG"
                  >
        </div>
        
        <div >
        <h1 class="titPag1">Horarios Empleados</h1>
        </div>
    
    <table border="0" class="tablaHorario">
        
        <h2 >Semana</h2>

        <tr>
            <td>Empleado</td> <td>Puesto<td> <button class=botonLunes>Lunes</button></td>
             <td><button class=botonMartes>Martes</button></td> <td><button class=botonMiercoles>Miercoles</button></td> 
             <td><button class=botonJueves>Jueves</button></td><td><button class=botonViernes>Viernes</button></td>
             <td><button class=botonSabado>Sabado</button></td><td><button class=botonDomingo>Domingo</button></td>
        </tr>
       
            <tr>
                <td>Juan</td> <td>Surtidor</td> <td>4</td>
            </tr>

            <tr>
                <td>Mario</td> <td>Vigilancia</td> <td>4</td>
            </tr>
        
             <tr>
                <td>Fernanda</td> <td>Cajero</td> <td>4</td>
            </tr>


    </table>

</div>
</body>

</html>

</section>