<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Menu</title>
</head>
<body>
    <div id="sidemenu" class="menu-collapsed">
        <!-- HEADER -->
        <div id="header">
            <div id="tittle"><span>Vida MRR</span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        <!-- PROFILE -->
        <div id="profile">
            <div id="photo"><img src="admin.png" alt=""></div>
            <div id="name"><span>Administrador</span></div>
        </div>
        <!-- ITEMS -->

        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src= "userProfile.png" alt>
                        <div class="tittle"><span>Cloud services</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>