<section class = "empleados">
<!DOCTYPE htlm>
    <html lang="es">

    <head>
            <title> Empleados </title>
    </head>
        
    <body>
        <div class= botonB>
            <button class=botonBuscar>Buscar empleado</button>
            <button class= botonCrear>Crear Empleado</button>
            <button class= botonEliminar>Eliminar Empleado</button>
            <button class= botonActualizar>Actualizar Empleado</button>
        </div>
        

        <div class = "tabla-Empleados">
        <h1 class= "text-left txt-primary"> Listas de empleado </h1>
          <meta charset="utf-8">
          <title>Empleados </title>
          <table border="1"  width="100%" id="miTabla">
              <tr>
                  <th> Nombre Empleado </th>
                  <th>Direccion</th>
                  <th>Correo</th>
                  <th>Celular</th>
                  <th>Selecionar</th>
                   </tr>
                   <tr> 
                       <td>stiven</td>
                       <td>barcelona quindio</td>
                       <td>stiven@gmail.com</td>
                       <td>32163864</td>
                      <th> <button class=botonSelecionar>Info empleado</button></th>

                   </tr>
          </table>
        </div>

    </body>

</html>
</section>