    <!DOCTYPE htlm>
    <html lang="es">
    <head>
            <title> Empleados </title>
    </head>
        
    <body>  
        <div class = "tabla-Empleados">
        <h2> Listas de empleado </h2>
          <meta charset="utf-8">
          <title>Empleados </title>
          <table border="1"  width="100%" id="miTabla">
              <tr>
                  <td> Nombre Empleado </td>
                  <th>Direccion</th>
                  <th>Correo</th>
                  <th>Celular</th>
                   </tr>
                   <tr> 
                       <td>stiven</td>
                       <td>barcelona quindio</td>
                       <td>stiven@gmail.com</td>
                       <td>32163864</td>
                   </tr>
          </table>
        </div>
        <div class= botonB>
            <button class=botonBuscar>Buscar empleado</button>
            <button class= botonCrear>Crear Empleado</button>
            <button class= botonEliminar>Eliminar Empleado</button>
            <button class= botonActualizar>Actualizar Empleado</button>
        </div>

    </body>
</html>
