*{
padding :1;
margin: 1;
}
#miTabla{
   border-collapse: collapse;
  background-color: rgb(211, 205, 202);
}
.empleados{
    background-color:#F8981D;
}

body{
    padding: 3%;
    margin: 3%;
    
}
.botonSelecionar{
    background-color: rgb(222, 222, 245);
    margin: 1%;
    padding: 1%;
}

.botonBuscar{
    margin: 1%;
    padding: 1%;
    background-color: rgb(222, 222, 245);
}
.botonEliminar{
    margin: 1%;
    padding: 1%;
    background-color: rgb(222, 222, 245);
}
.botonActualizar{
    margin: 1%;
    padding: 1%;
    background-color: rgb(222, 222, 245);
}
.botonCrear{
    margin: 1%;
    padding: 1%;
    background-color: rgb(222, 222, 245);
}

.botonSelecionar:hover{
    background-color: #06976070 ;
}

.botonBuscar:hover{
    margin: 1%;
    background-color:#06976070; ;
}
.botonCrear:hover{
    background-color: #06976070 ;
}
.botonActualizar:hover{
    background-color: #06976070 ;
}
.botonEliminar:hover{
    background-color: #06976070;
}

